<!DOCTYPE html>
<html>
<head>
  <title>Parcels</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<div class= 'container'>
<body>
<h1>Enter Parcel Dimensions</h1>
 <form action='/parcel'>
   <div id ='volume' class='form-group'>
     <label for='height'>Height:</label>
     <input id='height' name='height' class='form-control' type='text'>
     <label for='length'>Length:</label>
     <input id='length' name='length' class='form-control' type='text'>
     <label for='width'>Width:</label>
     <input id='width' name='width' class='form-control' type='text'>
   </div>
   <div id='cost' class='form-group'>
     <label for='distance'>Distance:</label>
     <input id='distance' name='distance' class='form-control' type='text'>
     <label for='weight'>Weight:</label>
     <input id='weight' name='weight' class='form-control' type='text'>
   </div>
   <button type='submit' class='btn'>Go!</button>
 </form>
    <p id='result'> Volume of your parcel: </p>
    <p id='result2'> Cost to ship your parcel: </p>
</body>
</div>
</html>
