<!DOCTYPE html>
<html>
<head>
  <title>Parcels</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<div class= 'container'>
<body>

    <p id='result'> Volume of your parcel: @Model.GetVolume() </p>
    <p id='result2'> Cost to ship your parcel: @Model.GetCost() </p>
</body>
</div>
</html>
